
.choices-button{
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
}
.choices-button button{
    border-radius: 10px;
    padding: 7px;
    margin-right: 5px;
    background: linear-gradient(to bottom, #c40606, #f1c500); /* Gradient color */
    color: white; /* Text color */
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 40;

}

.choices-button button:hover{
    background: linear-gradient(to bottom, #f1c500, #c40606); /* Gradient color */
}

.choices-button button.active {
    background: linear-gradient(to bottom, #ea9800, #ea9800); /* Active button gradient color */
    color: #ffffff;
  }

.suggestButton{
    position:fixed;
    top: 600px;
    background-color: #7E0001;
    width: max-content;
    height: 80px;
  }

  .suggestButton button{
    justify-content: space-around;
    background-color: #ea9800;
    margin-left: 5px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(to bottom, #f1c500, #c40606); /* Gradient color */

  }

  
  
  
  
  
  