body {
  background-color: #7E0001;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0; /* Remove default margin to prevent horizontal scroll on small screens */
  font-family: Arial, sans-serif; /* Choose an appropriate font for better readability */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .header {
    font-size: 20px;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  .header {
    font-size: 18px;
  }
}

.logo {
  width: 90px; /* Make the logo responsive */
  height: 90px; /* Maintain aspect ratio */
  position: relative;
  display: block; /* Center the logo horizontally */
  margin: -70px auto; /* Adjust margin for centering */
  padding: 50px;
}


.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: darkgoldenrod;
  border-radius: 20px;
}

.start{
  position: sticky;
  width: 20px;
  height: 20px;
  background-color: darkgoldenrod;
  padding: 20px 20px;
  border-radius: 100px;
}

.stop{
  position: sticky;
  width: 20px;
  height: 20px;
  background-color: darkgoldenrod;
  padding: 20px 20px;
  border-radius: 100px;
}

.dom-page  {
  text-align: center;
  padding: 10px;
  color: white;
  z-index: -1;
}

.app-name {
  margin-top: 50px;
}

/* App.css */

.transcript-text {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px; /* Adjust spacing */
}

.container{
  max-width: 900px;
  height: 550px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.display-text {
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
  overflow: auto;
  position:relative;
}

.display-text-content {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  overflow:auto;
}

.questions  {
  display:block; /* Center the button */
  justify-content: right;
  align-content: space-between;
  padding-top: 20px;
  margin-left: 210vh;
  cursor: pointer;
  top: 0;
  position:absolute;
  
}

.question-list{
  border: 2px solid white;
  background-color: white;
  color: black;
  position: absolute;
  right: 60px;
}

.reset-button {
  width: 50px;
  height: 50px;
  position:absolute;
  padding-top: 20px;
}


