*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #7E0001;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0; /* Remove default margin to prevent horizontal scroll on small screens */
  font-family: Arial, sans-serif; /* Choose an appropriate font for better readability */
  position: sticky;
  overflow: hidden;
}

.head{
  top: -60px;
  position: sticky;
  z-index: 0;
  background-color: #7E0001;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .header {
    font-size: 20px;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  .header {
    font-size: 18px;
  }
}

.logo {
  width: 90px; /* Make the logo responsive */
  height: 90px; /* Maintain aspect ratio */
  position: relative;
  display: block; /* Center the logo horizontally */
  margin: -70px auto; /* Adjust margin for centering */
  padding: 50px;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


button {
  background-color: darkgoldenrod;
  border-radius: 20px;
}

.start{
  position: relative;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #c40606, #f1c500); /* Gradient color */
  padding: 20px 20px;
  border-radius: 100px;
}

.stop{
  position: relative;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #c40606, #f1c500); /* Gradient color */
  padding: 20px 20px;
  border-radius: 100px;
}

.microphone{
  position: sticky;
  padding: auto;
  bottom: 0;
  background-color: #7E0001;
}

.dom-page  {
  text-align: center;
  padding: 10px;
  color: white;
  z-index: -1;
}

.app-name {
  margin-top: 10px;
}

/* App.css */

.transcript-text {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px; /* Adjust spacing */
  position:relative;
}

.transcript{

margin-bottom: 5px;
}

.container{
  max-width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
      width: 6px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: transparent;
  }
}

.display-text {
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  position:relative;
}

.display-text-content {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  overflow:auto;
  white-space: pre-line;
  text-align:justify;
  line-height: 1.5; /* Adjust this value to control the line spacing */
}

.download-button{
  position: sticky;
  z-index: 50;
}
.download-button2 button{
  position: relative;
  padding: 5px;
  bottom: 35px;
  color: rgb(85, 3, 3);
  background: linear-gradient(to bottom, #4e7c12, #b7e0a4); /* Gradient color */
  z-index: 200;
  

}
.desc{
  color: rgb(236, 166, 4);
  display: block;
  
}

.desc-hidden {
  display: none;
}

.otherText{
  padding: 30px;
}

.textOther{
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  background-color: #7E0001;
  
}

.displayResponse{
  white-space:  pre-line;
  justify-content: justify;
  height:max-content;
  

}

.otherResponse{
  text-align: left;
  font-size:15px;
  margin-top: 20px;
  z-index: -1;
  

}


.question-list {
  border: 5px solid darkgoldenrod;
  background-color: white;
  color: rgb(236, 166, 4);
  position: absolute;
  width: 190px;
  height: max-content;
  right: 5%;
  margin-top: 10px;
  top: 60px;
  overflow: auto;
  font-size: 15px;
  z-index: 1;
}

.note {
  color: #7E0001;
}


.reset-button {
  position:fixed;
  margin-left: 50px; /* Add margin to adjust the distance from the right edge */
  margin-top: 8px;
  z-index: 9;

}

.questions {
  position: fixed;
  margin-top: 15px;
  right: 0;
  transform: translateY(-50%);
  margin-right: 13px; /* Add margin to adjust the distance from the right edge */
}


.year-button button{
  background-color: darkgoldenrod;
  display: inline;
  margin-left: 20px;
}

.text-input {
  position: fixed;
  bottom: 3px; /* Adjust the distance from the bottom */
  right: 15px; /* Adjust the distance from the right */
  transform: translateY(-50%);
  z-index: 99;
}
.center-input {
  position: fixed;
  bottom: 10px;
  transform: translateX(-106%);
  padding-bottom:10px;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
}

.keyBoard{
  position: relative;
  width: 90px;
  bottom: 10px;
}

.send{
  top: 10px;
  margin-left: 10px;
  position: relative;
}

.closed-back{
  top: 10px;
  position: relative;
  margin-right: 10px;
}


 input{
  width :260px;
  height: 50px;
  background-color: #ffffffdd;
  border-radius: 10px;
  border-color:#f1c500;
  color: black;
  font-size: large;
  
}

.placeholder-color::placeholder{
  color: white;
}


.menu{
  position: fixed;
  top: 4%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 20px; 
  z-index: 9;

}

.menu-content{
  width: 300px;
  height: 300px;
  background-color: #7E0001;
  top: 50%;
  bottom: 50%;
  text-align: center;
  
}
/* Style the modal overlay */
.ReactModal__Overlay {
  background: none; /* No background, fully transparent */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the modal is above everything else */
}

/* Style the modal content */
.ReactModal__Content {
  background-color: #7E0001;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensure the modal content is above the overlay */
}

.link-web{
  color: rgb(255, 255, 255);
}
.linkkk{
  color: white;
}


.close{
  position: relative;
  top: -65px;
  right: -58%;
  transform: translateY(-50%);
  margin-right: 45px; /* Add margin to adjust the distance from the right edge */
  color: white;
}

.left-icon{
  position: absolute;
  z-index: 10;
  display: flex;
  margin-left: 85%;
}


.suggestion{
display: inline-block;
flex-direction: row;
position: relative;
height: 90px;
}

.suggestion button{
  background: linear-gradient(to bottom, #c40606, #f1c500); /* Gradient color */
  margin-left: 10px;
  padding: 10px;
  width: 100px;
  height: 50px;

}


